<div class="form-container outer">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">
                    <img class="login-logo mx-auto mb-1 d-none d-sm-block" src="" />
                    <div>
                        <h4 class="mb-2">Selamat Datang, SIAKAD ITC</h4>
                        <h6>Daftarkan Akun Anda Disini</h6>
                    </div>

                    <form id="form" class="simple-example text-left" action="javascript:void(0);" novalidate>
                        <div class="form">
                            <div class="form-row">
                                <div class="col-md-4 mb-4">
                                    <%- form.select('study_program_id as prodi', '*', study_program) %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('name as nama', '*', '', 'text', 'myuser') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('register_number as nomor_pendaftaran', '*') %>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <%- form.input('place_of_birth as tempat_lahir', '*') %>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <%- form.input_date('date_of_birth as tangal_lahir', '*') %>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <%- form.input('phone_number as nomor_handphone', '*') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('email', '*', '', 'email', 'myuser') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- 
                                        form.select('gender_id as jenis_kelamin', '*', [
                                            {
                                                id: 1,
                                                dataValues: {
                                                    name: 'Laki - laki'
                                                },
                                            },
                                            {
                                                id: 2,
                                                dataValues: {
                                                    name: 'Perempuan'
                                                },
                                            },
                                        ]) 
                                    %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('religion as agama', '*') %>
                                </div>
                                <div class="col-md-4 mb-4"></div>
                                <div class="col-md-3 mb-4">
                                    <%- form.input('last_education as pendidikan_terakhir', '*') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('educational_institution as instansi_pendidikan', '*') %>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <%- form.input('major_program as program_jurusan', '*') %>
                                </div>
                                <div class="col-md-2 mb-4">
                                    <%- form.input('graduation_year as tahun_lulus', '*', '', 'number') %>
                                </div>
                                <div class="col-md-9 mb-4">
                                    <%- form.input('address as alamat', '*') %>
                                </div>
                                <div class="col-md-3 mb-4">
                                    <%- form.input('postal_code as kode_pos', '*', '', 'number') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('parent_name as Nama Orang Tua (Ayah / Ibu)', '*') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('parent_job as Pekerjaan Orang Tua (Ayah / Ibu)', '*') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('parent_phone_number as Nomor Handphone Orang Tua', '*') %>
                                </div>
                                <div class="col-md-7 mb-4">
                                    <%- form.input('parent_address as Alamat Orang Tua', '*') %>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <%- form.input('parent_postal_code as Kode Pos Orang Tua', '*', '', 'number') %>
                                </div>
                                <div class="col-md-5 mb-4">
                                    <%- form.input('password', '*', '', 'password', 'myuser', '', 'onkeyup="checkPassword(this, \'password\')"') %>
                                    <span id="password_valid" class="text-danger">Password kurang dari 8 karakter</span>
                                </div>
                                <div class="col-md-5 mb-4">
                                    <%- form.input('password_confirmation as konfirmasi_password', '*', '', 'password', 'notused', '', 'onkeyup="checkPassword(this, \'password_confirmation\')"') %>
                                    <span id="password_confirmation_valid" class="text-danger">Konfirmasi Password kurang dari 8 karakter</span>
                                </div>
                            </div>
                            <div id="alert"></div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="text-right action-register">
                                    <a href="<%= base_url %>" class="btn shadow-none">KEMBALI</a>
                                    <button id="submit" type="submit" class="btn btn-primary shadow-none" value="">DAFTAR</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                    
            </div>
        </div>
    </div>
</div>