<form id="form" class="simple-example" action="javascript:void(0);" novalidate>
    <%- form.input_hide('id', data?.id) %>
    <%- form.input_hide('role_id', 5) %>
    <div class="modal-body">
        <div id="alert"></div>
        <div class="form-row">
            <div class="col-md-6 mb-4">
                <%- form.input('name as nama', '*', data?.name) %>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.input('agency as Instansi', '*', data?.m_mentor?.agency, 'text', 'mymentor') %>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.input('position as jabatan', '*', data?.m_mentor?.position, 'text', 'mymentor') %>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.input('email', '*', data?.email, 'email', null, null, data?.id ? 'readonly' : null) %>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.input('password', '*', '', 'password', 'mypassword', '', 'onkeyup="checkPassword(this, \'password\')"') %>
                <span id="password_valid" class="text-danger">Password kurang dari 8 karakter</span>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.input('password_confirmation as konfirmasi_password', '*', '', 'password', 'mypassword', '', 'onkeyup="checkPassword(this, \'password_confirmation\')"') %>
                <span id="password_confirmation_valid" class="text-danger">Konfirmasi Password kurang dari 8 karakter</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal"><i data-feather="x-circle"></i> <b>Batal</b></button>
        <button id="submit" type="submit" name="submit" value="Simpan" class="btn btn-success submit-fn mt-2">
            <i data-feather="save"></i>
            <b>Simpan</b>
        </button>
    </div>
</form>

<script>
    $(".select").select2({
        allowClear: true,
        tags: true,
        dropdownParent: $('#modal'),
    });

    feather.replace();

    $('#password_valid').hide();
    $('#password_confirmation_valid').hide();
</script>