<form id="form" class="simple-example" action="javascript:void(0);" novalidate>
    <%- form.input_hide('id', data?.id) %>
    <div class="modal-body">
        <div id="alert"></div>
        <div class="form-row">
            <div class="col-md-12 mb-4">
                <%- form.select('learner_id as peserta_didik', '*', learner, learner_value) %>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.input('value as nilai', '*', data?.value, 'text', null,  'input_number') %>
            </div>
            <div class="col-md-6 mb-4">
                <%- form.input_date('datetime as waktu', '*', data?.datetime ? moment.utc(data?.datetime).format('DD-MM-YYYY, H:mm') : null) %>
            </div>
            <div class="col-md-12 mb-4">
                <%- form.input('description as keterangan', '*', data?.description) %>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <%- form.cancel() %>
        <%- form.submit(data?.id ? 'Perbarui' : undefined) %>
    </div>
</form>

<script>
    $(".select").select2({
        allowClear: true,
        tags: true,
        dropdownParent: $('#modal'),
    });

    flatpickr(document.getElementById('input_datetime'), {
        enableTime: true,
        dateFormat: "d-m-Y, H:i",
        time_24hr: true,
    });

    $(document).ready(function(){
        $(".input_number").mask("000.000.000.000.000.000", {reverse:true});
    });

    feather.replace();
</script>