<script type="text/javascript">

    const path  = '<%=path%>';
    const mentoring_id  = '<%=data?.id%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    /*  add data */
    $(document).on('click', '.add', function () {

        $.post(url+'/form', { 
            path,
            mentoring_id,
        }, function (data) {
            $("#modal-label").html('Form Tambah');
            $("#show-modal").html(data);
        });
    });

    /* submit form */
    $(document).on('click', '#submit', function () {
        var formData = new FormData($('#form')[0]);
        formData.append('file', $("#file")[0].files[0]);

        $.ajax({
            url  : url+'/process',
            data : formData,
            type : "post", 
            enctype: 'multipart/form-data',
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false,
            success: function(response){
                if(response?.id === null)
                    $('#form')[0].reset();

                $('#alert').html(alert_success(response?.message));
                $('#zero-config').dataTable().api().ajax.reload();
            },
            error: function (data, response) {
                const errors = data?.responseJSON?.errors;
                switch (data.status) {
                    case 400:
                        let result = '';

                        const arrLabel = data?.responseJSON?.validate_label;

                        errors.forEach(function(v) {
                            result += '<br>- <b>'+(arrLabel[v] || v)+'</b> belum diisi';
                        });

                        $('#alert').html(alert_warning(result));
                        break;
                    case 422:
                        $('#alert').html(alert_warning(errors));
                        break;
                    case 500:
                        $('#alert').html(alert_error(errors));
                        break;
                    default:
                        $('#alert').html(alert_error('Saat proses data'));
                        break;
                }
            }
        });
                
    });

    $(document).on('click', '.delete', function () {
        
        var id  = $(this).data('id');

        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success btn-rounded',
            cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons({
            title: 'Apakah Anda Yakin?',
            text: "Anda tidak akan dapat mengembalikan ini!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, hapus!',
            cancelButtonText: 'Tidak, batal!',
            reverseButtons: true,
            padding: '2em'
        }).then(function(result) {
            if (result.value) {

                $.ajax({
                    url  : url+'/delete',
                    data : {id:id},
                    type : "post", 
                    success: function(response){
                        swalWithBootstrapButtons(
                            'Terhapus!',
                            'Data telah terhapus.',
                            'success'
                        )
                        
                        $('#zero-config').dataTable().api().ajax.reload();
                    },
                    error: function (data) {
                        swalWithBootstrapButtons(
                            'Gagal',
                            'Dalam memproses hapus data, data masih ada. :)',
                            'error'
                        )
                    }
                });
            } else if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.cancel
                ) {
                swalWithBootstrapButtons(
                    'Dibatalkan',
                    'Data masih aman :)',
                    'error'
                )
            }
        })
    });

    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            data: { mentoring_id },
            type: 'POST',
        },
        columns: [
            {   
                data: null, 
                visible: false,
            },
            { 
                data: 'id', 
                className: 'text-center', 
                sortable: false, 
                width: 60,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            { 
                data: 'date', 
                render: function (data) {
                    return moment(data, "YYYY-MM-DD").locale("id").format("LL");
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return moment(data?.time_in, "HH:mm:ss").locale("id").format("LT") + ' - ' + moment(data?.time_out, "HH:mm:ss").locale("id").format("LT");
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.d_mentoring?.m_learner?.user?.name;
                }  
            },
            {   data: 'event', 
                sortable: false, 
            },
            {   data: 'problem', 
                sortable: false, 
            },
            {   data: 'note', 
                sortable: false,
                render: function (data) {
                    return data.substring(0,80) + '...';
                }
            },
            { 
                data: 'status', 
                sortable: false, 
                className: 'text-center', 
                render: function (data) {
                    if(data)
                        return '<span class="text-success">Diterima</span>';

                    if (data == null) {
                        return '<span class="text-warning">Menunggu Konfirmasi</span>';
                    }

                    return '<span class="text-danger">Tidak Diterima</span>';
                }  
            },
            {   
                data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return '<input value="' + (data?.score || '') + '" type="text" style="width:40px" class="input-score" onkeyup="inputScore(this, \''+ data?.id +'\')" />';
                }
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center', 
                'bSortable' : false,
                render: function (data) {
                    const view_file = '<button class="view_file btn btn-outline-secondary" data-file="' + data?.file + '">Lihat Foto</button>';
                    let approval = '';

                    if ( data?.status == null ) {
                        approval = '<button style="margin-top:5px" class="btn btn-outline-success approval" data-id="'+data?.id+'" data-approval="1">Terima</button>'+ 
                        '<button style="margin-top:5px" class="btn btn-outline-danger approval" data-id="'+data?.id+'" data-approval="0">Tolak</button>';
                    }

                    return view_file + approval;
                }  
            },
        ],
    });

    function inputScore(
        e, 
        id, 
    ) {

        if (!$.isNumeric(e.value)) {
            swalWithBootstrapButtons(
                'Gagal',
                'Hanya bisa di input angka!',
                'error'
            )

            $(e).val('');
            return;
        }

        $.ajax({
            url  : url+'/update-score',
            data : {
                id,
                value : e.value,
            },
            type : "post", 
            success: function(response){
                console.log('berhasil', response);
            },
            error: function (data) {
                swalWithBootstrapButtons(
                    'Gagal',
                    'Dalam memproses update data, silahkan reload dan coba lagi. :)',
                    'error'
                )
            }
        });
    }


    $(document).on('click', '.view_file', function () {
        window.open("<%=base_url%>/uploads/logbooks/" + $(this).data('file'), "_blank");
    });

    $(document).on('click', '.approval', function () {
        
        var id  = $(this).data('id');
        var approval  = $(this).data('approval');

        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success btn-rounded',
            cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons({
            title: 'Apakah Anda Yakin ' + (approval == 0 ? 'Tidak Terima' : 'Terima') + ' Logbook Ini?',
            text: "Logbook ini nantiknya berubah status!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, lanjutkan!',
            cancelButtonText: 'Tidak, batal!',
            reverseButtons: true,
            padding: '2em'
        }).then(function(result) {
            if (result.value) {

                $.ajax({
                    url  : url+'/approval',
                    data : {id, approval},
                    type : "post", 
                    success: function(response){
                        swalWithBootstrapButtons(
                            'Berhasil!',
                            'Status Logbook telah terupdate.',
                            'success'
                        )
                        
                        $('#zero-config').dataTable().api().ajax.reload();
                    },
                    error: function (data) {
                        swalWithBootstrapButtons(
                            'Gagal',
                            'Dalam memproses update Logbook',
                            'error'
                        )
                    }
                });
            } else if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.cancel
                ) {
                swalWithBootstrapButtons(
                    'Dibatalkan',
                    'Data masih seperti semula :)',
                    'error'
                )
            }
        })
    });


</script>