<table class="table table-bordered">
    <thead>
        <tr>
            <th>Waktu</th>
            <th>Mata Pelatihan</th>
            <th>Kode Kelas</th>
            <th>Kelas</th>
            <th>Ruangan</th>
            <th>Instruktur</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(function(value, i){ %>
            <% if(value?.m_day?.indonesian != data?.[(i-1)]?.m_day?.indonesian) { %> 
                <tr bgcolor="#f1f2f3">
                    <td colspan="6">
                        <b>
                            <%= value?.m_day?.indonesian%>
                        </b>
                    </td>
                </tr>
            <% } %> 
            <tr>
                <td><%= moment(value?.time_first, "HH:mm:ss").locale("id").format("LT") + ' s/d ' + moment(value?.time_last, "HH:mm:ss").locale("id").format("LT") %></td>
                <td><%= value?.d_classroom?.m_subject?.name || '-' %></td>
                <td><%= value?.d_classroom?.code || '-' %></td>
                <td><%= value?.d_classroom?.name || '-' %></td>
                <td><%= value?.room || '-' %></td>
                <td><%= value?.d_classroom?.m_lecturer?.user?.name || '-' %></td>
            </tr>
        <% }); %>
        <!-- <tr bgcolor="#f1f2f3">
            <td colspan="5"><b>Senin, 06 Maret 2022</b></td>
        </tr>
        <tr>
            <td>09:00 - 11:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>14:00 - 16:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>16:00 - 18:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr bgcolor="#f1f2f3">
            <td colspan="5"><b>Selasa, 07 Maret 2022</b></td>
        </tr>
        <tr>
            <td>09:00 - 11:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>14:00 - 16:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>16:00 - 18:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr bgcolor="#f1f2f3">
            <td colspan="5"><b>Rabu, 08 Maret 2022</b></td>
        </tr>
        <tr>
            <td>09:00 - 11:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>14:00 - 16:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr>
        <tr>
            <td>16:00 - 18:00</td>
            <td>Pemrograman</td>
            <td>P002</td>
            <td>Kelas A</td>
            <td>Burhan</td>
        </tr> -->
    </tbody>
</table>