<script type="text/javascript">

    const path = '<%=path%>';

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        }
    });

    $(".filter").select2();

    $(document).on("change","#select_filter_school_year_id",function (){
        $('#zero-config').dataTable().api().ajax.reload();
    });

    $(document).on("change","#select_filter_study_program_id",function (){
        $('#zero-config').dataTable().api().ajax.reload();
    });

    $(document).on("change","#select_filter_step",function (){
        $('#zero-config').dataTable().api().ajax.reload();
    });

    /*  add data */
    $(document).on('click', '.add', function () {

        $.post(url+'/form', { path }, function (data) {
            $("#modal-label").html('Form Tambah');
            $("#show-modal").html(data);
        });
    });

    /*  edit data */
    $(document).on('click', '.edit', function () {
        
        var id  = $(this).data('id');

        $.post(url+'/form', { id, path }, function (data) {
            $("#modal-label").html('Form Edit');
            $("#show-modal").html(data);
        });
    });

    $('#select_subject_id').prop('disabled', true);

    $(document).on('change', '#select_study_program_id', function () {
        $('#select_step').prop('disabled', false);
        
        var id      = $(this).val();
        var step    = $('#select_step').val();

        $.post(url+'/select-subject', { id, step } , function (data) {
            
            if(step == '' || id == ''){
                $('#select_subject_id').prop('disabled', true);
            }else{
                $('#select_subject_id').prop('disabled', false);
            }

            $("#select_subject_id").html(data?.results);
        });
    });

    $(document).on('change', '#select_step', function () {
        
        var id      = $('#select_study_program_id').val();
        var step    = $(this).val();

        $.post(url+'/select-subject', { id, step } , function (data) {
            if(step == '' || id == ''){
                $('#select_subject_id').prop('disabled', true);
            }else{
                $('#select_subject_id').prop('disabled', false);
            }
            $("#select_subject_id").html(data?.results);
        });
    });

    /* submit form */
    $(document).on('click', '#submit', function () {
        $.ajax({
            url  : url+'/process',
            data : $('#form').serialize(),
            type : "post", 
            success: function(response){
                if(response?.id === null)
                    $('#form')[0].reset();

                $('#alert').html(alert_success(response?.message));
                $('#zero-config').dataTable().api().ajax.reload();
            },
            error: function (data, response) {
                const errors = data?.responseJSON?.errors;
                switch (data.status) {
                    case 400:
                        let result = '';

                        errors.forEach(function(v) {
                            result += '<br>- '+v+' belum diisi';
                        });

                        $('#alert').html(alert_warning(result));
                        break;
                    case 422:
                        $('#alert').html(alert_warning(errors));
                        break;
                    case 500:
                        $('#alert').html(alert_error(errors));
                        break;
                    default:
                        $('#alert').html(alert_error('Saat proses data'));
                        break;
                }
            }
        });
                
    });

    $(document).on('click', '.actived', function () {
        
        var id  = $(this).data('id');
        var actived  = $(this).data('actived');

        const swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success btn-rounded',
            cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons({
            title: 'Apakah Anda Yakin ' + (actived == 0 ? 'Non Aktifkan' : 'Aktifkan') + ' Kelas Ini?',
            text: "Kelas ini nantiknya berubah status!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Ya, lanjutkan!',
            cancelButtonText: 'Tidak, batal!',
            reverseButtons: true,
            padding: '2em'
        }).then(function(result) {
            if (result.value) {

                $.ajax({
                    url  : url+'/actived',
                    data : {id, actived},
                    type : "post", 
                    success: function(response){
                        swalWithBootstrapButtons(
                            'Berhasil!',
                            'Status Kelas telah terupdate.',
                            'success'
                        )
                        
                        $('#zero-config').dataTable().api().ajax.reload();
                    },
                    error: function (data) {
                        swalWithBootstrapButtons(
                            'Gagal',
                            'Dalam memproses update kelas',
                            'error'
                        )
                    }
                });
            } else if (
                // Read more about handling dismissals
                result.dismiss === swal.DismissReason.cancel
                ) {
                swalWithBootstrapButtons(
                    'Dibatalkan',
                    'Data masih seperti semula :)',
                    'error'
                )
            }
        })
    });

    $('#zero-config').DataTable({
        oLanguage: {
            sUrl: "<%= base_url + '/indonesian.json' %>",
        },
        stripeClasses: [],
        lengthMenu: [5, 10, 20, 50],
        pageLength: 10 ,
        serverSide: true,
        processing: true,
        ajax: {
            url: "<%= base_url + route_now %>",
            type: 'POST',
            data: function (d) {
                d.school_year_id    = $('#select_filter_school_year_id').val();
                d.study_program_id  = $('#select_filter_study_program_id').val();
                d.step              = $('#select_filter_step').val();
            }
        },
        columns: [
            {   
                data: null, 
                visible: false,
            },
            { 
                data: 'id', 
                sortable: false, 
                className: 'text-center', 
                width: 60,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1 + '.';
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_school_year?.year;
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_study_program?.name;
                }  
            },
            { 
                data: null, 
                className: 'text-center', 
                sortable: false, 
                render: function (data) {
                    return data?.m_subject?.step;
                }  
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_subject?.name;
                }  
            },
            {
                data: 'code',
                sortable: false, 
            },
            {
                data: 'name',
                sortable: false, 
            },
            { 
                data: null, 
                sortable: false, 
                render: function (data) {
                    return data?.m_lecturer?.user?.name;
                }  
            },
            { 
                data: 'actived', 
                sortable: false, 
                className: 'text-center', 
                render: function (data) {
                    if(data){
                        return '<span class="text-success">Aktif</span>';
                    }

                    return '<span class="text-danger">Tidak Aktif</span>';
                }  
            },
            { 
                data: null, 
                sortable: false, 
                orderable: false, 
                className: 'text-center', 
                'bSortable' : false,
                render: function (data) {

                    let status_action = '<a class="dropdown-item text-danger actived" data-actived="0" data-id="'+data?.id+'" href="javascript:void(0);">Non Aktifkan</a>';

                    if (data?.actived == 0) {
                        status_action = '<a class="dropdown-item text-success actived" data-actived="1" data-id="'+data?.id+'" href="javascript:void(0);">Aktifkan</a>';
                    }

                    return '<div class="dropdown custom-dropdown">'+
                        '<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'+
                            '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>'+
                        '</a>'+
                        '<div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">'+
                            '<a class="dropdown-item" href="<%= base_url + route_now %>/peserta-didik?id='+data?.id+'">Peserta Didik</a>'+
                            '<a class="dropdown-item" href="<%= base_url + route_now %>/jadwal?id='+data?.id+'">Atur Jadwal</a>'+
                            '<a class="dropdown-item edit" href="javascript:void(0);" data-id="'+data?.id+'" data-toggle="modal" data-target="#modal">Edit</a>'+
                            status_action+
                        '</div>'+
                    '</div>';
                }  
            },
        ],
    });

</script>