<form id="form" class="simple-example" action="javascript:void(0);" novalidate>
    <%- form.input_hide('id', data?.id) %>
    <%- form.input_hide('classroom_id', classroom_id) %>
    <div class="modal-body">
        <div id="alert"></div>
        <div class="form-row">
            <div class="col-md-12 mb-4">
                <%- form.input_date('timetable as jadwal', '*', moment.utc(data?.timetable).format('DD-MM-YYYY, H:mm')) %>
            </div>
            <div class="col-md-12 mb-4">
                <%- form.input('room as ruangan', '*', data?.room) %>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <%- form.cancel() %>
        <%- form.submit(data?.id ? 'Perbarui' : undefined) %>
    </div>
</form>

<script>
    flatpickr(document.getElementById('input_timetable'), {
        enableTime: true,
        dateFormat: "d-m-Y, H:i",
    });

    feather.replace();
</script>