<div class="layout-px-spacing">
    <div class="row layout-top-spacing">

        <!-- <div class="col-md-12 text-center mb-4" style="font-family: Poppins, sans-serif; font-weight: 500">
            <div class="p-2 rounded">
                <h4 class="mb-1">Selamat Datang, <%= session?.name %></h4>
                <p class="mb-0">Perbaharui selalu data pribadi Anda ya.</p>
            </div>
        </div> -->
        <div class="col-lg-8  mb-3">
            <div class="widget-content widget-content-area br-6">
                <div class="p-4 ">
                    <h4 class="mb-3">Biodata Pribadi</h4>
                    <table class="table">
                        <tr>
                            <td>Nama</td>
                            <td>: <%= data?.user?.name %></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>: <%= data?.user?.email %></td>
                        </tr>
                        <tr>
                            <td>Pendidikan Terakhir </td>
                            <td>: <%= data?.last_education  %></td>
                        </tr>
                        <tr>
                            <td>Tahun Masuk</td>
                            <td>: <%= data?.year_of_entry %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>